body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;

  box-sizing: border-box;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  margin: auto;
  width: 70%;
  background-color: white;
  box-shadow: 0 0 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-width: 400px;
}
form {
  margin-top: 110px;
  width: 80%;
  height: 50px;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 22px;
  border: none;
  border-bottom: solid black;
  padding: 10px;
  padding-left: 20px;
  width: 40%;
  outline: none;
  min-width: 75px;
}
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
}
button:hover {
  background-color: rgb(208, 202, 202);
}

.temp {
  font-size: 90px;
  color: rgb(108, 63, 63);
}

span {
  font-size: 50px;
}
.display {
  border: solid black;
  padding: 20px;
  letter-spacing: 2px;
  box-shadow: 0 0 10px;
  background-color: lightblue;
  color: rgb(89, 84, 84);
  width: 250px;
  max-width: 300px;
  min-width: 200px;
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.displaycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.display {
  flex: 1;
}
p {
  height: 150px;
  padding: 5px;
  max-width: 230px;
}

.today {
  background-color: rgb(108, 63, 63);
  scale: 1.15;
  color: white;
}
.today .temp {
  color: white;
}

.loader {
  font-size: 35px;
}
.dots {
  font-size: 80px;
}

.error {
  font-size: 20px;
  font-weight: bold;
  color: red;
  background-color: lightcoral;
  height: 25px;
}

.view {
  font-size: 23px;
  display: inline;
  width: 170px;
  min-width: 170px;
}

img {
  width: 20px;
}
